@use "mixin" as *;
@use "common";

.about {
  &-proud {
    background: #f4fcf3;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 80px 0 86px 0;

    @include maxw(780) {
      padding: 50px 0;
    }

    &-container {
      display: flex;
      align-items: end;
      gap: 54px;

      @include maxw(768) {
        flex-direction: column-reverse;
        margin: 16px 0 0 0;
        gap: 24px;
      }

      &.top {
        @include maxw(768) {
          flex-direction: column;
        }
      }
    }
    &-title {
      color: #4ab749;
      text-align: center;
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 40px;
      line-height: 100%;

      @include maxw(780) {
        color: #4ab749;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
      }
    }

    &-body {
      @extend .container;

      display: grid;
      grid-template-columns: auto auto auto;
      gap: 16px;

      @include maxw(780) {
        display: block;
        gap: 16px;
      }

      & > :not(:last-child) {
        @include maxw(780) {
          margin-bottom: 16px;
        }
      }
    }

    &-card {
      height: fit-content;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 24px;
      color: white;
      display: flex;
      flex-direction: column;

      @include maxw(780) {
        padding: 16px;
        width: 100%;
        max-width: 100%;
      }

      & > :not(:last-child) {
        margin-bottom: 8px;

        @include maxw(780) {
          margin-bottom: 0px;
        }
      }

      &-icon {
        max-width: 231px;
      }

      &-title {
        color: #ff9914;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 128.571% */
        margin-top: 36px;
        margin-bottom: 24px;

        @include maxw(1180) {
          color: #ff9914;
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      &-desc {
        color: #57595c;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 144.444% */

        @include maxw(1180) {
          color: #57595c;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 162.5% */
        }
      }
    }

    &-teacher {
      &-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
        background-color: white;

        &-img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }

        &-content {
          width: 100%;
        }

        &-name {
          color: #272b30;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 160% */
        }

        &-desc {
          color: #57595c;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        &-role {
          margin-top: 8px;
          color: #57595c;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
          min-height: 48px;
        }

        &-width {
          & > * {
            width: calc(100% / 4.6);
          }
          @include maxw(768) {
            & > * {
              width: calc(100% / 1.3);
            }
          }
        }
      }
    }
  }
}
