@use "mixin" as *;
@use "common";

.benefit {
  background-image: url(/public/summers/6-bg.png);
  width: 100%;
  background-size: cover;
  width: 100%;
  background-position: bottom;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include maxw(780) {
    padding: 50px 0;
  }

  &-container {
    display: flex;
    align-items: end;
    gap: 54px;

    @include maxw(768) {
      flex-direction: column-reverse;
      margin: 16px 0 0 0;
      gap: 24px;
    }

    &.top {
      @include maxw(768) {
        flex-direction: column;
      }
    }
  }
  &-title {
    color: #4ab749;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 160% */
    margin-bottom: 32px;

    @include maxw(780) {
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px; /* 142.857% */
      margin-bottom: 40px;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;

    @include minw(780) {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 24px;
      padding-right: 24px;
      @include min-md {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    @include maxw(780) {
      display: block;
      gap: 16px;
    }

    // & > :not(:last-child) {
    //   @include maxw(780) {
    //     margin-bottom: 16px;
    //   }
    // }
  }

  &-image {
    @include minw(1080) {
      max-width: 538px !important;
      transform: scale(1.2);
    }
    @include minw(780) {
      min-width: 380px;
    }
  }

  &-content {
    gap: 44px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    @include maxw(780) {
      gap: 24px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &-card {
    display: flex;
    align-items: end;
    gap: 24px;

    &-image {
      display: flex;
      width: 120px;
      height: 120px;

      @include maxw(780) {
        width: 48px;
        height: 48px;
      }
    }

    &-content {
      width: 100%;
      gap: 32px;
      position: relative;
      background-color: #fff;
      color: #1a1d1f;
      border-radius: 16px;
      padding: 12px 24px;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include maxw(780) {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        padding: 12px;
        line-height: 24px; /* 150% */
      }

      &-arrow {
        position: absolute;
        left: -20px;
        bottom: 0;
      }
    }
  }
}
