@use "mixin" as *;
@use "common";

.commit {
  width: 100%;
  @include min-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-wrapper {
    padding: 24px 0 0 0;
    background-image: url(/public/c7-bg.svg);

    width: 100%;
    background-size: cover;

    width: 100%;
    @include minw(694) {
      padding: 24px 0 0 0;
      background-image: url(/public/c7-bg.svg);
      width: 100%;
      background-size: cover;
    }
  }
  &-image {
    width: 100%;
    max-height: 764px;
    height: 100%;
    object-fit: contain;

    @include min-md {
      max-width: 562px;
      margin-right: 30px;
      width: 100%;
      height: fit-content;
    }
  }

  &-desc {
    font-size: 28px;
    font-weight: 500;
    line-height: 40.6px;
    text-align: center;
    color: #000000cc;
    margin-top: 11px;
    margin-bottom: 12px;

    @include max-md {
      font-size: 16px;
      font-weight: 400;
      line-height: 23.2px;
      text-align: center;
      margin-top: 4px;
    }
  }

  &-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 64.8px;
    text-align: center;
    color: #000000;

    @include maxw(768) {
      margin-top: 12px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29.7px;
      text-align: center;
    }
  }

  &-content {
    & > :not(:last-child) {
      margin-bottom: 40px;
    }
    &-item {
      padding: 6px 32px;
      display: block;
      @include max-md {
        padding: 9px 12px;
      }
    }
    &-icon {
      width: 48px;
      height: 48px;

      @include max-md {
        width: 32px;
        height: 32px;
      }
    }
    &-desc {
      color: #f57032;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 160% */
      margin-top: 16px;
      margin-top: 16px;

      @include max-md {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
      }
    }
  }

  &-bottom {
    color: white;
    background-image: url(/public/c7-bg-bottom-mobile.svg);
    width: 100%;
    background-size: cover;
    background-position: top;
    padding: 132px 0 280px 0;

    @include minw(780) {
      background-image: url(/public/c7-bg-bottom.svg);
      width: 100%;
      background-size: cover;
      padding: 110px 0 178px 0;
    }

    &-title {
      text-align: center;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px; /* 100% */

      @include maxw(780) {
        text-align: center;

        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
      }
    }

    &-desc {
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 150% */
      padding-top: 20px;

      @include maxw(780) {
        padding-top: 12px;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 160% */
      }
    }
  }
}
