@use "mixin" as *;

.hero {
  background-image: url(/public/summers/1-bg.png);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  overflow: hidden;

  @include maxw(768) {
    background-size: cover;
    background-position: bottom;
  }
  &-container {
    display: flex;

    @include maxw(768) {
      flex-direction: column;
      gap: 8px;
    }
  }
  &-content {
    max-width: 560px;
    width: 100%;

    &-sub-title {
      color: #4ab749;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include maxw(1180) {
        color: #4ab749;
        text-align: justify;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &-title {
      color: #ff9914;
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 32px;
      line-height: normal;

      @include maxw(1180) {
        color: #ff9914;
        text-align: justify;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 131.25% */
        margin-top: 12px;
        margin-bottom: 16px;
      }
    }

    &-desc {
      color: #272b30;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 163.636% */
      margin-bottom: 48px;

      @include maxw(1180) {
        color: #272b30;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 162.5% */
        margin-bottom: 28px;
      }
    }

    &-btn {
      margin-top: 42px;
      @include maxw(1180) {
        margin: 20px 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  &-image {
    // flex: 1 1 0%;
    // aspect-ratio: 1/1;
    // margin-top: 12px;
    // margin-bottom: 0;
    display: flex;
    align-items: end;

    @include minw(768) {
      // margin-top: 107px;
      // margin-bottom: 0;
      zoom: 1.2;
    }
  }
}
