@use "mixin" as *;
@use "common";

.online-class {
  &-title {
    color: #ff9914;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

    @include maxw(1180) {
      margin-top: 36px;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      padding: 0 16px;
    }

    &-line {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 320px;

      @include maxw(1180) {
        position: absolute;
        top: 32px;
        left: 0;
        width: 190px;
      }
    }
  }

  &-break {
    @include minw(1180) {
      display: none;
    }
  }
  &-body {
    @extend .container;

    display: flex;
    justify-content: space-between;

    @include maxw(780) {
      display: block;
    }

    & > :not(:last-child) {
      @include maxw(780) {
        margin-bottom: 24px;
      }
    }

    &-right {
      margin-top: 90px;
      @include maxw(1180) {
        margin-top: 48px;
        padding: 0 16px 0 32px;
      }
    }

    &-left {
      @include maxw(1180) {
        padding: 0 32px 0 16px;
      }
    }
  }

  &-img {
    padding: 32px 0 36px 0;
    object-fit: cover;
    width: 100%;

    @include maxw(1180) {
      padding: 16px 0;
      height: 183px;
    }
  }
  &-card {
    width: 100%;
    max-width: 278px;

    @include maxw(780) {
      padding: 0 8px;
      width: 100%;
      max-width: 100%;
    }

    &.first {
      color: #ff9914;
    }
    &.second {
      color: #4ab749;
    }
    &.third {
      color: #8e59ff;
    }

    &-number {
      font-size: 80px;
      line-height: 80px;
      font-weight: 900;

      @include maxw(780) {
        font-size: 48px;
        line-height: 48px;
      }
    }

    &-title {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 150% */
      padding: 24px 0 8px 0;

      @include maxw(1180) {
        padding-top: 16px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 160% */
      }
    }

    &-desc {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      color: #57595c;

      @include maxw(1180) {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
      }
    }
  }
}
