@use "mixin" as *;
@use "common";

.program {
  padding: 60px 0 0 0;
  background-image: url(/public/c6-bg.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  overflow: hidden;

  @include maxw(780) {
    padding: 40px 0 83px 0;
    background-size: contain;
    background-position: bottom;
  }

  &-title {
    color: #ff9914;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 160% */

    @include maxw(780) {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 150% */
    }

    &-line {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 320px;

      @include maxw(1180) {
        position: absolute;
        top: 32px;
        left: 0;
        width: 190px;
      }
    }
  }

  &-break {
    @include minw(1180) {
      display: none;
    }
  }
  &-body {
    @extend .container;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;

    @include maxw(780) {
      display: block;
      gap: 16px;
    }

    & > :not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &-img {
    padding: 40px 0 200px 0;
    max-width: 1080px;
    width: 100%;

    @include maxw(780) {
      padding: 16px 0;
      display: none;
    }

    &-mobile {
      padding: 0 16px 0 16px;
      width: 100%;

      @include minw(780) {
        display: none;
      }
    }
  }

  &-level {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    padding: 0 16px;

    &-item {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      padding: 12px 16px;
      color: #57595c;
      background-color: transparent;
      border-color: transparent;

      & a {
        text-decoration: none;
        color: #57595c;
      }

      &.active {
        font-weight: 700;
        border-radius: 8px;
        background-color: rgba(185, 228, 181, 0.3);

        & a {
          color: #4ab749;
        }
      }
    }
  }
}

.uk-switcher-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order visually */

  @include minw(780) {
    display: none;
  }
}

.uk-switcher-container > ul {
  margin-bottom: 16px; /* Add spacing if needed */
}

.uk-subnav-pill > .uk-active > a {
  font-weight: 700;
  border-radius: 8px;
  color: #4ab749;
  background-color: rgba(185, 228, 181, 0.3);
}

.uk-subnav > * {
  padding: 0;

  color: #57595c;
  background-color: transparent;
  border-color: transparent;
}

.uk-subnav > li > a {
  display: block !important;
  text-align: center !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 24px !important;

  padding: 12px 0 !important;
}

.uk-subnav {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  padding: 0 16px 0 32px;

  @include minw(780) {
    display: none;
  }
}
