@use "mixin" as *;
@use "common";

.register {
  z-index: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include max-lg {
    flex-direction: column;
  }

  &-wrapper {
    background-image: url(/public/candidates/8-bg.webp);
    width: 100%;
    background-size: cover;
    width: 100%;
    background-position: bottom;

    @include maxw(768) {
      padding: 24px 0 0 0;
    }
  }

  &-modal {
    background-image: url(/public/candidates/popup-bg.png);

    background-color: #e3fcdc;
    background-position: bottom left;
    background-repeat: no-repeat;
    max-width: 736px;
    width: 100%;
    border-radius: 24px;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0%;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
    background: #0aa807;
  }

  &-content {
    max-width: 540px;
    width: 100%;
    flex: 1 1 0%;
    flex: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include md {
      width: 100%;
      padding: 48px;
    }
    @include max-md {
      width: 100%;
      // padding: 20px;
    }

    &.exeption {
      margin-bottom: 44px;
    }
  }

  &-header {
    margin-top: 85px;
    margin-bottom: 24px;

    @include maxw(1180) {
      margin-top: 26px;
      margin-bottom: 24px;
    }
  }

  &-sub-title {
    text-align: center;
    color: #57595c;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include maxw(1180) {
      color: #57595c;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &-title {
    text-align: center;
    color: #ff9914;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 4px;

    @include maxw(1180) {
      color: #ff9914;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &.modal {
      margin-bottom: 24px;
    }

    &-line {
      position: absolute;
      bottom: 0px;
      right: 50px;
      width: 133px;

      @include maxw(1180) {
        position: absolute;
        bottom: 0;
        left: 62%;
        width: 105px;
      }

      &-modal {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 133px;

        @include maxw(1180) {
          position: absolute;
          bottom: 0;
          left: 43%;
          width: 105px;
        }
      }
    }
  }

  &-img {
    flex: 1 1 0%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: none;
    width: 100%;
    max-width: 670px;

    @include max-lg {
      width: 100%;
      border-bottom-left-radius: none;
      border-top-right-radius: 8px;
      object-fit: cover;
    }

    &-discount {
      max-height: 60px;
      padding: 4px 10px 0;
      @include min-lg {
        display: none;
      }
    }

    &.modal {
      width: 50%;
      @include min-lg {
        margin-left: -30px;
        margin-bottom: -40px;
      }
      @include max-lg {
        display: none;
      }
    }
  }

  &-form {
    background-color: #fff;
    border-radius: 30px;
    padding: 40px;

    @include maxw(768) {
      padding: 26px 16px;
    }
    & > :not(:last-child) {
      margin-bottom: 16px;
    }
    & > :last-child {
      margin-top: 28px !important;
    }

    &-title {
      color: #4ab749;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 28px !important;

      @include maxw(768) {
        color: #4ab749;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      & .num {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        aspect-ratio: 1/1;

        border-radius: 50px;
        background: #ff9914;

        color: #fff;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include maxw(768) {
          display: flex;
          width: 36px;
          height: 36px;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1;
        }
      }
    }
    // &-select {
    //   display: flex;
    //   width: 100%;
    //   align-items: center;
    //   padding: 0 24px;
    //   height: 60px;
    //   font-size: 16px;
    //   justify-content: space-between;
    //   background-color: transparent;
    //   border: 1px solid rgba(235, 236, 240, 1);
    //   color: rgba(0, 0, 0, 0.6);
    // }

    // &-label {
    //   font-size: 14px;
    //   font-weight: 500;
    //   line-height: 22px;
    //   margin-bottom: 6px;
    //   color: #13161a;
    //   color: white;

    //   /* Inside auto layout */
    //   flex: none;
    //   order: 0;
    //   flex-grow: 0;
    // }
    &-input {
      padding: 0 24px;
      height: 54px;
      border-radius: 9999px;
      border: 1px solid rgba(235, 236, 240, 1);
      ::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &-try {
    padding: 30px;
    padding-top: 180px;
    background-image: url(/public/modal-img.webp);
    background-size: contain;
    background-repeat: no-repeat;
    @include maxw(768) {
      padding-top: 220px;
    }
  }

  &-to-try {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;
    transition-duration: 1s;

    &.hide {
      display: none;
      transition-duration: 1s;
    }

    @include maxw(768) {
      zoom: 0.75;
    }

    &-mobile {
      @include minw(768) {
        display: none;
      }
    }

    &-destop {
      -webkit-filter: drop-shadow(1px 1px 1px #aaaaaa);
      filter: drop-shadow(0 0 0.55rem #c6c6c6);
      @include maxw(768) {
        display: none;
        max-height: 100px;
      }
      @include minw(960) {
        max-height: 100px;
      }
      @include minw(1280) {
        max-height: 120px;
      }
      @include minw(1650) {
        max-height: 160px !important;
      }
    }
  }
}
