@use "mixin" as *;

.register {
  background-color: white;
  border-radius: 24px;
  max-width: 1170px;

  width: 100%;

  @include maxw(1080) {
    display: block;
  }

  &-wrapper {
    position: relative;
    background-image: url(/public/summers/7-bg.png);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 48px;

    @include md {
      padding: 48px;
    }
    @include maxw(768) {
      padding: 24px;
    }

    &-right {
      background-image: url(/public/summers/7.5.png);
      width: 100%;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      background-size: cover;
      padding-top: 74px;

      @include maxw(768) {
        padding-top: 16px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
      }
    }
  }

  &-img {
    border-bottom-right-radius: 24px;

    @include maxw(1080) {
      width: 100%;
      border-bottom-left-radius: none;
      border-bottom-right-radius: 24px;
      max-height: 400px;
      object-fit: cover;
    }

    @include maxw(768) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 145%;
    text-align: center;
    background: radial-gradient(100% 100% at 0% 0%, #ffc007 0%, #ff5723 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    @include maxw(768) {
      font-size: 24px;
      font-weight: 700;
      line-height: 34.8px;
    }
  }

  &-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 36px;

    &-field-wrapper {
      position: relative;
    }

    &-select {
      display: flex;
      padding: 24px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 16px;
      border: 1.5px solid var(--Neutral-N4, #c2c2c2);
      background: var(--Neutral-N2, #fcfcfc);
      height: 72px;
      width: 100%;

      ::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    &-label {
      color: var(--Neutral-N6, #57595c);
      padding: 0 8px;
      background: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
      flex: none;
      order: 0;
      flex-grow: 0;
      z-index: 1;

      position: absolute;
      top: -12px;
      left: 16px;
    }
    &-input {
      display: flex;
      padding: 24px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 16px;
      border: 1.5px solid var(--Neutral-N4, #c2c2c2);
      background: var(--Neutral-N2, #fcfcfc);
      height: 72px;

      ::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.countdown-wrapper {
  display: inline-flex;
  padding: 7.2px 7.2px 7.2px 10.8px;
  align-items: flex-start;
  gap: 10.8px;
  border-radius: 14.4px;
  background: #f8f8f8;
  box-shadow: 0px 65.7px 72px 0px rgba(209, 122, 17, 0.09),
    0px 27.448px 30.08px 0px rgba(209, 122, 17, 0.06),
    0px 14.675px 16.082px 0px rgba(209, 122, 17, 0.05),
    0px 8.227px 9.016px 0px rgba(209, 122, 17, 0.05),
    0px 4.369px 4.788px 0px rgba(209, 122, 17, 0.04),
    0px 1.818px 1.992px 0px rgba(209, 122, 17, 0.03);
  @include maxw(768) {
    display: inline-flex;
    padding: 6.75px 6.75px 6.75px 10.125px;
    align-items: flex-start;
    gap: 10.125px;
    border-radius: 13.5px;
    background: #f8f8f8;
    box-shadow: 0px 61.594px 67.5px 0px rgba(209, 122, 17, 0.09),
      0px 25.732px 28.2px 0px rgba(209, 122, 17, 0.06),
      0px 13.758px 15.077px 0px rgba(209, 122, 17, 0.05),
      0px 7.712px 8.452px 0px rgba(209, 122, 17, 0.05),
      0px 4.096px 4.489px 0px rgba(209, 122, 17, 0.04),
      0px 1.704px 1.868px 0px rgba(209, 122, 17, 0.03);
  }
}

.label {
  color: #f26623;
  font-size: 32px;
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", sans-serif;
  white-space: nowrap;
}

.countdown {
  display: flex;
  gap: 10px;
  @include maxw(768) {
    gap: 6px;
  }
}

.time-box {
}

.time-number {
  color: var(--Primary-P5, #ffa218);
  text-align: center;
  font-size: 28.8px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 125% */

  display: flex;
  width: 57.6px;
  height: 57.6px;
  padding: 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  aspect-ratio: 57.6/57.6;
  border-radius: 10.8px;
  background: #e7e7e7;

  @include maxw(768) {
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.75px; /* 125% */

    display: flex;
    width: 54px;
    height: 54px;
    padding: 8.438px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8.438px;
    aspect-ratio: 1/1;
    border-radius: 10.125px;
    background: #e7e7e7;
  }
}

.time-label {
  color: var(--Neutral-N5, #9fa59e);
  text-align: center;
  font-family: "SF Pro Rounded";
  font-size: 14.4px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px; /* 150% */

  @include maxw(768) {
    text-align: center;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.25px; /* 150% */
  }
}
