@use "mixin" as *;
@use "common";

.student {
  position: relative;

  &-content {
    margin: 40px 0 24px 0;
    @include maxw(768) {
      margin: 24px 0;
    }
    &-arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;

      & > :not(:last-child) {
        margin-right: 15px;
      }
      @include maxw(768) {
      }
    }
  }

  &-container {
    @extend .container;
    // padding: 100px 0;
    @include maxw(768) {
      padding: 0 0 0 16px !important;
    }
  }
  &-title {
    @extend .commit-title;
    max-width: 1018px;
    width: 100%;
    margin-bottom: 48px;
    @include maxw(768) {
      margin-bottom: 24px;
    }
  }
  &-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-img {
      width: 320px;
      height: 320px;
      border-radius: 100%;
      aspect-ratio: 1/1;

      @include maxw(768) {
        width: 240px;
        height: 240px;
      }
    }

    &-content {
      margin-top: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-name {
      color: #272b30;
      text-align: center;

      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 133.333% */
    }

    &-desc {
      color: #57595c;
      text-align: center;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }

    &-width {
      & > * {
        width: calc(100% / 4.6);
      }
      @include maxw(768) {
        & > * {
          width: calc(100% / 1.3);
        }
      }
    }
  }

  &-video {
    position: relative;
    flex: 1 1 0%;
    width: 100%;
    aspect-ratio: 330 / 426;
  }

  &-iframe {
    width: 100%;
    object-fit: cover;
    display: none;
    aspect-ratio: 330 / 426;
  }
  &-card-content {
    padding: 24px 0;
    @include maxw(768) {
      padding: 16px 0;
    }
  }
  &-img {
    aspect-ratio: 330 / 426;
    object-fit: cover;
    width: 100%;
  }
  &-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    color: #000000cc;

    @include maxw(768) {
      font-size: 16px;
      font-weight: 600;
      line-height: 23.2px;
    }
  }
  &-lesson {
    color: #3db54a;
    font-size: 23px;
    font-weight: 700;
    line-height: 33.35px;
    text-align: center;

    @include maxw(768) {
      font-size: 18px;
      font-weight: 700;
      line-height: 26.1px;
    }
  }
}
